* {
	font-family: 'Yu Gothic', Meiryo, sans-serif;
}

#header {
	text-align: center;
	margin: 10px auto;
}

.logo {
	width: 100vw;
	height: 20vw;
	min-width: 500px;
	min-height: 100px;
	max-width: 1000px;
	max-height: 200px;
}

#main_area {
	width: 80%;
	max-width: 1024px;
	min-width: 640px;
	margin: 20px auto;
}

.box {
	border: 5px solid darkgray;
	border-radius: 40px;
	padding: 40px 20px;
}

.title {
	text-align: center;
	margin-bottom: 60px;
}

.title_text {
	display: inline;
	margin-left: 40px;
	vertical-align: -0.5ex;
}

.app_icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	border-radius: 16px;
	box-shadow: 2px 2px 5px 2px lightgray;
}

.section_header {
	margin-top: 40px;
	border-bottom: 2px solid darkgray;
}

.section_header > * {
	margin: 0px 0px 0px 0.5em;
}

dl.table {
	display: table;
	margin: 5px 30px;
}

dl.table > div {
	display: table-row;
}

dl.table > div > dt {
	display: table-cell;
	width: 8em;	
}

dl.table > div > dd {
	display: table-cell;
}

.address {
	width: 80%;
	margin: 5px auto;
}